<md-dialog class="statusInfo">
<form name="pageInformation" novalidate>
	<md-toolbar style="background-color:#85afb3">
	<div class="md-toolbar-tools">
		<h2>{{information}}</h2>
		<span flex></span>
		<md-button class="cancel" ng-click="cancel()"> <md-icon
			>&#10006;</md-icon>
		</md-button>
	</div>
	</md-toolbar style="background-color:#85afb3">
	<md-dialog-content>
	<div class="md-dialog-content">

		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">BANK NAME</label> <input type="text"
				ng-model="bankDetail.bankName" required name="bankName" ng-disabled="isReadOnly" limit-to="255" ng-minlength="2" ng-maxlength="255">
			<div ng-messages="pageInformation.bankName.$error">
				<div ng-message="required">Please enter bank name</div>
				<div ng-message="minlength">bank should be minimum 2 character</div>
				<div ng-message="maxlength">bank should be maximum 255 character</div>
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm type="password">
			<label class="input-filed-label">ACCOUNT NUMBER</label> <input type="text"
				ng-model="bankDetail.accountNumber" required name="accountNumber"
				ng-disabled="isReadOnly" limit-to="255" ng-minlength="2" ng-maxlength="255">
			<div ng-messages="pageInformation.accountNumber.$error">
				<div ng-message="required">Please enter Sub Menu</div>
				<div ng-message="minlength">Sub Menu should be minimum 2 character</div>
				<div ng-message="maxlength">sub menu should be maximum 255 character</div>
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">BRANCH NAME</label> <input type="text"
				ng-model="bankDetail.branchName" required name="branchName"
				ng-disabled="isReadOnly" limit-to="255" ng-minlength="2" ng-maxlength="255">
			<div ng-messages="pageInformation.branchName.$error">
				<div ng-message="required">Please enter Page Name</div>
				<div ng-message="minlength">Page Name should be minimum 2 character</div>
				<div ng-message="maxlength">Page Name should be maximum 255 character</div>
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">

			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">IFSC CODE</label> <input type="text"
				ng-model="bankDetail.ifscCoe" required name="ifscCoe" ng-disabled="isReadOnly" limit-to="255" ng-minlength="2" ng-maxlength="255">
			<div ng-messages="pageInformation.ifscCoe.$error">
				<div ng-message="required">Please enter URL</div>
				<div ng-message="minlength">URL should be minimum 2 character</div>
				<div ng-message="maxlength">URL should be maximum 255 character</div>
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">DESCRIPTION</label> <input
				type="text" ng-model="page.description" required name="description"
				ng-minlength="4" ng-maxlength="255" ng-disabled="isReadOnly" limit-to="255">
			<div ng-messages="pageInformation.description.$error">
				<div ng-message="required">Please enter Description</div>
				<div ng-message="minlength">Description should be minimum 4
					and maximum 255 character</div>
				<div ng-message="maxlength">Description should be minimum 4
					and maximum 255 character</div>
			</div>
			</md-input-container>
		</div>
	</div>
	</md-dialog-content>

	<md-dialog-actions layout="row"> <md-button
		class="md-raised"
		ng-click="submitPageInformation(pageInformation.$valid,$event)"
		type="submit" ng-disabled="isReadOnly" >SAVE</md-button> <md-button
		class="md-raised" ng-click="answer('not useful')">CANCEL</md-button> </md-dialog-actions>
</form>
</md-dialog>






