<div ng-controller="clientProductCont">
	<div class="erp-information">
		<div >
			<md-button class="md-raised md-primary " ng-click="showAddNewRMVendorAssociation($event);"  ng-init="populateRMVendorAssociationList();flag=0" style="background-color:#85afb3">ADD
			NEW CLIENT PRODUCT Association</md-button>
		
		 <md-input-container class="md-block" flex-gt-sm type="password" style="margin-left:2%">
			<input type="text"  ng-model="searchText"  name="password" placeholder="Search by PRODUCT" class="search-text">
			</md-input-container>
			
		<h1 class="table-header">CLIENT PRODUCT ASSOCIATION LIST</h1>
		</div>
		<table>
			<tr>
				<th>NO</th>
				<th>PRODUCT NAME</th>
				<th>CLIENT </th>
				<th>RATE</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="clientProductAsson in clientProductAssons  | startFrom:currentPage*pageSize | limitTo:pageSize " >
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{clientProductAsson.product.name}}</td>
				<td>{{clientProductAsson.client.companyname}}</td>
				<td>{{clientProductAsson.pricePerUnit}}</td>
				
				<td style="margin-left: 2%">
				     <md-button class="actionButton"  ng-click="showRMVendorAssociation($event,$index)" style="" ng-init="flag=1">EDIT</md-button>
				<md-button class="actionButton"  ng-click="showConfirm($event,$index)" style="">Remove</md-button>
				
				<md-button class="actionButton" ng-click="viewRMVendorAssociation($event,$index)" style="">VIEW</md-button>
				</td>
			</tr>
		</table>
		<md-dialog-actions layout="row" style="" class="paginationBtn"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="gotoPrevPage()">Previous Page</md-button> <md-button
		class="md-raised" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="gotoNextPage()">Next Page</md-button>
	</md-dialog-actions>
<div ng-show="isPresentvenodrAsso" class="active-information">
     Currently there are no active Raw material vendor associations.Please add new Raw material Vendor associations.
</div>
	</div>

</div>
