<md-dialog class="statusInfo" ng-init="getProductOrderId()">
  <form name="productOrderInformation"  novalidate>
  
    <md-toolbar style="background-color:#85afb3">
      <div class="md-toolbar-tools">
        <h2>{{information}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">&#10006;</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content" >
      <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">DESCRIPTION</label>
            <input type="text" ng-model="productOrder.description"  required name="description" ng-disabled="isReadOnly" ng-minlength="4" ng-maxlength="255" >
             <div ng-messages="productOrderInformation.description.$error">
            <div ng-message="required">Please enter Description</div>
            <div ng-message="minlength">Description should be minimum 4 character</div>
            <div ng-message="maxlength">Description should be maximum 255 character</div>
          </div>
          </md-input-container>
     </div>
     	
           <div layout-gt-sm="row">
               <md-input-container class="drop-down">
          <label>CLIENT*</label>
          <md-select ng-model="productOrder.clientId" name="client"  ng-disabled="isClientReadOnly" ng-required="true" required ng-init="getClient()" ng-change="getProducts()">
            <md-option ng-repeat="clientId in clientProducAsso" ng-value="clientId" >
               {{clientId.companyName}}
            </md-option>
          </md-select>
          <div ng-messages="productOrderInformation.client.$error">
                 <div ng-message="required">Please Select Client</div>
              </div>
        </md-input-container>
           </div>
    
           
                 <div layout-gt-sm="row">
               <md-input-container class="drop-down">
          <label>PRODUCT*</label>
          <md-select ng-model="productOrder.product" name="product"  ng-disabled="isClientReadOnly" ng-required="true" required>
            <md-option ng-repeat="product in productList" ng-value="product" >
               {{product.product.name}}
            </md-option>
          </md-select>
          <div ng-messages="productOrderInformation.product.$error">
                 <div ng-message="required">Please Select Product</div>
              </div>
        </md-input-container>
           </div>
           
                  
           <div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">QTY</label> <input
				type="number" ng-model="productOrder.quantity" required
				name="quantity" ng-disabled="isReadOnly"
				 ng-change="calculateTotalPrice(productOrder.quantity,productOrder.product.pricePerUnit)">
			<div
				ng-messages="productOrderInformation.quantity.$error">
				<div ng-message="required">Please enter quantity</div>
			</div>
			</md-input-container>
		</div>
		
		
		<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">TOTAL AMOUNT</label> <input
				type="number" ng-model="totalAmount"
				name="totalAmount" ng-disabled="isPriceReadOnly" value="{{totalAmount}}">
			<div ng-messages="productOrderInformation.totalAmount.$error">
				<div ng-message="required">Please enter total amount</div>
			</div>
			</md-input-container>
           
              <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label  class="input-filed-label">RECEIVED AMOUNT</label>
            <input type="number" ng-model="productOrder.receivedAmount"  required name="receivedAmount" ng-disabled="isReadOnly" ng-minlength="1" >
             <div ng-messages="productOrderInformation.receivedAmount.$error">
            <div ng-message="required">Please enter Receied amount</div>
            <div ng-message="minlength">Receied amount should be minimum 1 number</div>
          </div>
          </md-input-container>
           </div>
           <div layout-gt-sm="row">
               <md-input-container class="md-block" flex-gt-sm type="password">
              <label class="input-filed-label">DATE OF CREATE[MM/DD/YYYY]*</label>
              
              <input type="date" placeholder="Enter date of birth" ng-model="productOrder.createDate" ng-change="orderDateValidation(productOrder.createDate)"  name="createDate" required ng-disabled="isReadOnly">
              <div ng-messages="productOrderInformation.createDate.$error">
                 <div ng-message="required">Please Enter Expected Delivery Date</div>
                 <!-- <div ng-message="customeMsg">{{msg}}</div> -->
              </div>
               <div ng-show=" productOrderInformation.createDate.$error.customeMsg" class="error-msg">{{msg}}</div>
         </md-input-container>  
           </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="submitInformation(productOrderInformation.$valid,$event)" type="submit" ng-disabled="isReadOnly" >SAVE</md-button>
      <md-button class="md-raised" ng-click="answer('not useful')" >CANCEL</md-button>
    </md-dialog-actions>
    
  </form>
</md-dialog>
