<md-dialog id="parentDialog" class="dialogueInfo erp-dialog">
<form name="productInformation" novalidate>

	<md-toolbar style="background-color:#85afb3">
	<div class="md-toolbar-tools">
		<h2>{{information}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> <md-icon>&#10006;</md-icon>
		</md-button>
	</div>
	</md-toolbar>

	<md-dialog-content>
	<div class="md-dialog-content">

		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">Product Type</label> <input type="text"
				ng-model="product.productType" value="product.name" required name="productType"
				ng-minlength="2" ng-disabled="isReadOnly" limit-to="255" ng-maxlength="255">
			<div ng-messages="productInformation.name.$error">
				<div ng-message="required">Please enter Product type</div>
				<div ng-message="minlength">Product Name should be minimum 2
					character</div>
				<div ng-message="maxlength">Product Name should be maximum 255
					character</div>	
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm type="password">
			<label class="input-filed-label">Product Validity</label> <input
				type="text" ng-model="product.productValidity" value="product.partNumber"
				required name="productValidity" ng-disabled="isReadOnly"  limit-to="255">
			<div ng-messages="productInformation.productValidity.$error">
				<div ng-message="required">Please enter Product Validity</div>
			</div>
			</md-input-container>
		</div>

		<div layout-gt-sm="row">

			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">Name</label> <input
				type="text" ng-model="product.name"
				value="product.clientpartnumber" required name="name"
				ng-disabled="isReadOnly" ng-minlength="2" ng-maxlength="255" limit-to="255">
			<div ng-messages="productInformation.name.$error">
				<div ng-message="required">Please enter name</div>
				<div ng-message="minlength">Part Number should be minimum 2 character</div>
				<div ng-message="maxlength">Part Number should be maximum 255 character</div>
			</div>
			</md-input-container>
		</div>
			<div layout-gt-sm="row">

			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">Price per Unit</label> <input
				type="number" ng-model="product.pricePerUnit"
				value="product.clientpartnumber" required name="ppu"
				ng-disabled="isReadOnly">
			<div ng-messages="productInformation.ppu.$error">
				<div ng-message="required">Please Pricer</div>
			</div>
			</md-input-container>
		</div>
		<div layout-gt-sm="row">

			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">Name</label> <input
				type="text" ng-model="product.description"
				 required name="description"
				ng-disabled="isReadOnly" ng-minlength="2" ng-maxlength="255" limit-to="255">
			<div ng-messages="productInformation.description.$error">
				<div ng-message="required">Please enter Description</div>
				<div ng-message="minlength">Part Number should be minimum 2 character</div>
				<div ng-message="maxlength">Part Number should be maximum 255 character</div>
			</div>
			</md-input-container>
		</div>
	</md-dialog-content>

	<md-dialog-actions layout="row"> <md-button
		class="md-raised"
		ng-click="submitProductInformation(productInformation.$valid,$event)"
		type="submit" ng-disabled="isReadOnly">SAVE</md-button> <md-button
		class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
	</md-dialog-actions>

</form>
</md-dialog>






